.app {
  display: flex;
  height: 100vh;
}
.sidebar {
  flex-shrink: 0;
  width: 240px;
  padding: 20px;
  background-color: #f0f0f0;
  box-shadow: inset -1px 0 #e2e2e2;
}
.playground {
  padding: 20px;
  flex-grow: 1;
  min-width: 0;
}
